
* {
    font-family: monospace;
}

/*
.container-fluid {
    margin-top: -16px;
    background-color: black;
    color: white;
} */

.navbar-style {
    margin-top: 0px;
    background-color: black;
    color: white;
}

.nav-item {
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-default {
    background-color: black;
    color: White;
}

.btn-default:hover {
    /* move this to be a variable */
    color: rgb(199.0, 0.0, 57.0);
}


.rounded-image {
    border-radius: 50%;
    padding: 5px;
}

.jumbotron {
    display: flex;
    flex-direction: row;
}

.nav-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-group li  {
   font-size: 20px;
}


/*
.embed-responsive-item {
    width: 400px;
    height: 75px;
}*/


#pong {
    width: 430px;
    height: 170px;
    border: none;
    scale: 0.95;
    overflow: hidden;
    
}

@media (min-width: 576px) {
    #pong {
        scale: 1.25;
        margin: 30px;
    }
    
}

@media (min-width: 768px) {
    #pong {
        margin: 60px;
        scale: 1.5;
    }
}

@media (min-width: 992px) {
    #pong {
        
        margin: 90px;
        scale: 2.0;
    }
}

.flex {
    display: flex;
    justify-content: center;
}

.solid-black-border {
    border: 3px solid black;
}