
* {
    font-family: monospace;
}

.container-fluid {
    margin-top: -16px;
    background-color: black;
    color: white;
}


.nav-item {
    padding-top: 5px;
    padding-bottom: 10px;
}

.btn-default {
    background-color: black;
    color: White;
}

.btn-default:hover {
    /* move this to be a variable */
    color: rgb(199.0, 0.0, 57.0);
}


.rounded-image {
    border-radius: 50%;
}

.jumbotron {
    display: flex;
    flex-direction: row;
}