
.container-fluid {
    background-color: black;
    color: white;
}


.nav-item {
    padding-top: 5px;
    padding-bottom: 10px;
}

.btn-default {
    background-color: black;
    color: White;
}

.btn-default:hover {
    /* move this to be a variable */
    color: rgb(199.0, 0.0, 57.0);
}